@import '@styles/mixins';

.root {
  text-align: center;

  .userNameWrapper {
    @include flex($align: center, $justify: center, $gap: 0.9rem);
  }

  .email {
    margin-bottom: 1.3rem;
    color: var(--color-dark-100);
  }
}
