@import '@styles/mixins';

.root {
  margin-bottom: 3.6rem;

  .cellQuestion,
  .cellAnswer {
    width: 32rem;

    .imageWrapper {
      @include flex($align: center, $gap: 1rem);

      .image {
        max-width: 16rem;
        height: 100%;
        max-height: 6.2rem;
      }
    }
  }

  .cellUpdated {
    width: 20rem;
  }

  .cellIcons {
    @include flex($align: center, $gap: 1rem);

    height: 3.6rem;
  }

  .cellIconsCover {
    height: 6.2rem;
  }
}
