@import '@styles/mixins';

.root {
  text-align: center;

  .userNameWrapper {
    @include flex($align: center, $justify: center, $gap: 0.9rem);

    .editUserName {
      @include iconButton($width: 1.6rem, $height: 1.6rem);

      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .email {
    margin-bottom: 1.3rem;
    color: var(--color-dark-100);
  }
}
