@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-block;

  padding: 0.6rem 2.8rem;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-light-100);
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}
