@import '@styles/mixins';

.formWrapper {
  width: 42rem;
  padding: 3.4rem 3.6rem 3rem;

  .form {
    @include flex($direction: column, $align: center);

    .formHeader {
      margin-bottom: 5rem;
      text-align: center;
    }

    .input {
      margin-bottom: 2rem;
    }

    .instructionText {
      margin-bottom: 6.5rem;
      color: var(--color-light-900);
      text-align: left;
      opacity: 0.5;
    }

    .button {
      margin-bottom: 2rem;
    }

    .questionText {
      margin-bottom: 1rem;
      color: var(--color-light-900);
      text-align: center;
    }
  }
}
