@import '@styles/mixins';

.root {
  margin-bottom: 3.6rem;

  .iconsWrapper {
    @include flex($align: center, $gap: 1rem);

    height: 3.6rem;
  }

  .emptyWrapper {
    @include flex($direction: column, $align: center, $gap: 3rem);
  }

  .tableIcon {
    @include icon-button($width: 1.6rem, $height: 1.6rem);

    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
