@import '@styles/mixins';

.root {
  margin-bottom: 3.6rem;

  .cellName,
  .cellCardsCount,
  .cellUpdated {
    width: 24.5rem;
  }

  .cellAuthor {
    width: 28.8rem;
  }

  .cellImage {
    @include flex($align: center, $gap: 1rem);

    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .image {
    max-width: 11.8rem;
    max-height: 4.8rem;
  }

  .cellIcon {
    @include flex($align: center, $gap: 1rem);

    height: 3.6rem;
  }

  .cellIconCover {
    height: 6.08rem;
  }
}
