@import '@styles/mixins';

.root {
  background-color: var(--color-dark-500);
}

.headerContainer {
  @include container;
  @include flex($justify: space-between, $align: center);

  height: 6rem;
}

.logo {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.userName {
  padding-right: 2px;
  border-bottom: 2px dashed var(--color-light-100);
}

.profileInfoWrapper {
  @include flex($justify: space-between, $align: center, $gap: 1.4rem);
}

.dropdownItemWrapper {
  padding-right: 2.8rem;
}
