$border: 1px solid var(--color-dark-300);
$border-active: 1px solid var(--color-accent-500);
$border-focus: 1px solid var(--color-info-900);

.root {
  width: 100%;

  .list {
    display: flex;

    .trigger {
      cursor: pointer;

      flex: 1 1;

      font-size: var(--font-size-m);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-m);
      color: var(--color-light-100);

      background: transparent;
      border-top: $border;
      border-right: none;
      border-bottom: $border;
      border-left: $border;

      &:first-child {
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-right: $border;
        border-radius: 0 2px 2px 0;
      }

      &.active {
        background-color: var(--color-accent-500);
        border: $border-active;
      }

      &.active:hover {
        color: var(--color-light-100);
        background-color: var(--color-accent-500);
      }

      &.active + button {
        border-left: none;
      }

      &:hover {
        color: var(--color-light-900);
        background-color: var(--color-dark-300);
      }

      &:focus-visible {
        background-color: var(--color-dark-700);
        border: $border-focus;
        outline: $border-focus;
      }

      &:disabled {
        cursor: unset;
        color: var(--color-dark-300);
        background: var(--color-dark-700);
      }
    }
  }
}
