.uploader {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;

  .fileInput {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    &::-webkit-file-upload-button {
      display: none;
    }
  }
}
