@import '@styles/mixins';

.container {
  @include flex($direction: column, $justify: center, $align: center);

  width: 100%;
  margin-top: 13rem;

  .image {
    width: 100%;
    max-width: 45rem;
    margin-bottom: 4.2rem;
  }

  .text {
    margin-bottom: 2.8rem;
  }
}
