@import '@styles/mixins';

.formWrapper {
  width: 42rem;
  margin: 0 auto;
  padding: 3.4rem 3.6rem 6rem;

  .form {
    @include flex($direction: column, $align: center);

    .formHeader {
      margin-bottom: 5rem;
    }

    .input {
      margin-bottom: 2rem;
    }

    .instructionText {
      margin-bottom: 4rem;
      color: var(--color-light-900);
      opacity: 0.5;
    }
  }
}
